<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bit Burn Wallet</title>

  <!--<link href="./assets/demo/demo.css" rel="stylesheet" />-->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

  <!-- Icons -->
  <!--<link href="/assets/vendor/nucleo/css/nucleo-icons.css" rel="stylesheet">-->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- BLK• CSS -->
  <!--<link type="text/css" href="/assets/css/blk-design-system.min.css" rel="stylesheet">-->
  <link type="text/css" href="/assets/css/blk-design-system.css" rel="stylesheet">
</head>

<style>
    .blackcolor {
        color: black !important
    }
</style>


<body class="index-page">

  <div class="wrapper">
        <div class="page-header header-filter">

            <div class="squares square1"></div>
            <div class="squares square2"></div>
            <div class="squares square3"></div>
            <div class="squares square4"></div>
            <div class="squares square5"></div>
            <div class="squares square6"></div>
            <div class="squares square7"></div>
        
            <div id="react"></div>
            <!--<div id="qrPlaceholder"></div>-->
        </div>
  </div>

  <!-- Core 
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/popper/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
  -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <!-- BLK• JS -->
  <script src="/assets/js/blk-design-system.js"></script>

  <script src="built/bundle.js"></script>

  </body>
</html>